.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-header {
  background-color: #fff;
  min-width: 300px; 
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(46, 55, 59, 0.1);
  color: #000;
  text-align: center;
}
